/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body > .sloupec {
    color: #EEEEEE;
    text-align: center;
}

.sloupec {
    padding: 20px;
}

.hlavicka	{ background-color: #7B1FA2; }
.hlavni		{ background-color: #FFE0B2; }
.levy		{ background-color: #F57C00; }
.pravy		{ background-color: #FF9800; }
.paticka	{ background-color: #212121; }

/* ---------------------------------------------------- */

/*

Čeho chceme dosáhnout

1. aby kontejner fungoval jako kontejner
2. aby se položky správně řadily
3. aby levy sloupec byl 250px dokud se vejde
4. aby pravý sloupec byl 150px dokud se vejde
5. aby hlavní sloupec rostl a zabíral hlavní část obrazovky 

*/
