/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; margin: 0; padding: 0; }

body {
    font: 16px/1.5 sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: #FEFEFE;
}

ul {
    list-style: none;
    padding: 0;
    margin: 60px;
    position: relative;
    background-color: lightgreen;
}

ul::before, ul::after {
    position: absolute;
    transform: rotate(-90deg);
    width: 275px;
    text-align: center;
    font-weight: bold;
    top: 120px;
    letter-spacing: 5px;
    font-size: 24px;
}

ul::before {
    content: "START";
    right: -100px;
    border-top: 2px solid red;
}

ul::after {
    content: "FINISH";
    left: -50px;
    border-bottom: 2px solid red;
}

li {
    font-size: 40px;
    line-height: 1.4;
    margin-left: 100%;
}

li::before {
    content: '游냁';
}

/*----------------------------------------*/

/*

V칤tejte na dostihov칠 dr치ze! Z치vodi코t캩 v Chuchli je kv콢li epidemii zav콏en칠, kon캩 funguj칤 jen online.

Aktu치ln캩 jsou v코ichni z치vodn칤ci - p캩t kon칤 - na startu. C칤lem je vylep코it situaci tak, aby bylo mo쬹칠 z치vody uspo콏치dat.

Z치vodn칤ci jsou na startu proto, 쬰 maj칤 margin-left: 100%. P콏ed z치vodem samotn칳m ov캩콏te, 쬰 se posunou do c칤le, kdy budou m칤t margin-left: 0.

Z치vodit se za캜ne tak, 쬰 posuneme kurzor my코i nad z치vodi코t캩. P콏idejte CSS tak, aby se v코ichni z치vodn칤ci dostali do c칤le, kdy bude my코 nad prvkem <ul>.

Jeliko se jedn치 o online z치vod캩n칤, nahrad칤me posledn칤ho kon캩 pomoc칤 `content: '游붃';` za jednoro쬮e, tak쬰 m치me - 캜ty콏i kon캩 a jednoho jednoro쬮e.

Pokud se m치 CSS vlastnost margin-left m캩nit plynule, mus칤me ji zm칤nit ve vlastnosti transition. Nechte z치vodn칤k콢m m캩nit margin-left plynule v pr콢b캩hu t콏칤 vte콏in.

Ka쬯칳 k콢켿 m치 jinou dynamiku b캩hu! A콘 druh칳 k콢켿 pou쮂셨치 line치rn칤 pr콢b캩h a t콏et칤 k콢켿 t콏eba ease-in.

Jednoro쬰c je kouzeln칳! Do c칤le se um칤 rovnou teleportovat, ale v쬯y se zpo쬯캩n칤m dvou vte콏in.

*/


